# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Node.js
node_modules/

# Build artifacts
/build
/dist

# Server-specific
/servidor/node_modules/
/servidor/.env

# Client-specific
/cliente/node_modules/
/cliente/dist/

# macOS
.DS_Store

# Environment variables file
.env
